/* NORMALIZING AND GLOBAL SETS */
* {
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-color: #101010;
    color: aliceblue;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

button {
    border-radius: 5px;
}

/* #global-container {
    
} */

/* ALL THE STAGES DISAPPEAR, THEN I MADE THEM APPEAR ONE BY ONE BY THEIR IDs WHEN IT'S NECESSARY */
.screen-stage {
    display: none;
}

/* ------------------------------------------------------------------------------------------------- */

/* --- MAIN MENU STAGE --- */
#main-stage {
    text-align: center;
    display: block;
}

#mainmenu-options ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

#mainmenu-options button {
    margin: 1%;
}

/* ------------------------------------------------------------------------------------------------- */

/* --- GAME STAGE --- */

/* FOR MOBILE */


/* FOR DESKTOP */

#desktop-screen {
    height: 100vh;
}

#top-menu {
    height: 17%;
}

#cpu-cards {
    height: 27%;
}

#mid-space {
    height: 12%;
}

#user-cards {
    height: 27%;
}

#game-choices {
    height: 17%;
}

.card {
    display: block;
    color: #101010;
}

#cpu-card-one, #cpu-card-two, #cpu-card-three, #cpu-card-four{
    border: 2px solid black;
    height: 50%;
}

@media only screen and (min-width: 900px) {
    #cpu-card-one, #cpu-card-two, #cpu-card-three, #cpu-card-four{
        height: 100%;
        width: 75%;
        max-width: 140px;
        max-height: 190px;
        margin: auto;
    }
}

#user-card-one, #user-card-two, #user-card-three, #user-card-four{
    border: 2px solid black;
    height: 50%;
}

@media only screen and (min-width: 900px) {
    #user-card-one, #user-card-two, #user-card-three, #user-card-four{
        height: 100%;
        width: 75%;
        max-width: 140px;
        max-height: 190px;
        margin: auto;
    }
}

#top-menu #game-title h2 {
    color: #1b1919;
    font-size: 1em;
}

#top-menu #menu-button-container{
    display: inline;
    justify-content: left;
}

#mainmenu-button {
    margin-top: 3%;
    width: 10%;
    height: 30%;
    min-width: 30px;
    max-width: 40px;
}

#cpu-cards div{
    display: flex;
    align-items: center;
}

#user-cards div{
    display: flex;
    align-items: center;
}

#game-choices div {
    display: flex;
    align-items: center;
}

#game-choices button {
    width: 100%;
    height: 50%;
}

#game-choices button {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) , rgba(255, 255, 255, 0.5));
    border: none;
    box-shadow: 0.5px 0.5px 3px #7b7b7b;
}

#cpu-points-container {
    display: flex;
    justify-content: center;
}

#user-points-container {
    display: flex;
    justify-content: center;
}

#bet-container {
    display: flex;
    justify-content: center;
}

#rounds-played-container {
    display: flex;
    justify-content: center;
}

#rounds-won-container {
    display: flex;
    justify-content: center;
}

#rounds-lose-container {
    display: flex;
    justify-content: center;
}

#aside-info {
    margin: 1% 0;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #080808;
    box-shadow: 0.5px 0.5px 3px #7b7b7b;
}

/* ------------------------------------------------------------------------------------------------- */

/* --- CREDITS STAGE --- */