/* NORMALIZING AND GLOBAL SETS */
* {
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-color: #101010;
    color: aliceblue;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#global-container {
    /* empty */
}

/* ALL THE STAGES DISAPPEAR, THEN I MADE THEM APPEAR ONE BY ONE BY THEIR IDs WHEN IT'S NECESSARY */
.screen-stage {
    display: none;
}

/* ------------------------------------------------------------------------------------------------- */

/* --- MAIN MENU STAGE --- */
#main-stage {
    text-align: center;
    display: block;
}

#mainmenu-options ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

#mainmenu-options button {
    margin: 1%;
}

/* ------------------------------------------------------------------------------------------------- */

/* --- GAME STAGE --- */

#game-stage {
    text-align: center;
}

#game-stage-background {
    height: 100vh; 
    background-color: #2938be;
}

#top-menu {
    top: 0%;
    position: sticky;
}

.card {
    display: block;
    color: #101010;
}

.card img {
    width: 100%;
    height: 100%;
}

#cpu-cards {
    top: 15%;
    position: sticky;
    height: 20vh;
    
}

#cpu-card-one, #cpu-card-two, #cpu-card-three, #cpu-card-four{
    border: 2px solid black;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    #cpu-card-one, #cpu-card-two, #cpu-card-three, #cpu-card-four{
        width: 40%;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    #cpu-cards{
        top: 10%;
        height: 5%;
    }
}

#bet {
    top: 45%;
    position: sticky;
    height: 7vh;
    align-items: center;
}

#user-card-one, #user-card-two, #user-card-three, #user-card-four{
    border: 2px solid black;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    #user-card-one, #user-card-two, #user-card-three, #user-card-four{
        width: 40%;
        margin: auto;
    }
}

#user-cards{
    top: 60%;
    position: sticky;
    height: 20vh;
}

@media only screen and (min-width: 768px) {
    #user-cards{
        top: 60%;
        height: 5%;
    }
}

#game-choices { 
    top: 87%;
    position: sticky;
    height: 9vh;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    #game-choices{
        top: 90%;
    }
}

#game-choices div {
    height: 100%;
}

#game-choices div button {
    width: 100%;
    height: 100%;
}

#chips-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------------------------------- */

/* --- CREDITS STAGE --- */